<h1>Vine<strong style="color: orange;">POP</strong></h1>

<!-- <div id="video"></div> -->
<video controls autoplay ng-src="{{currentVideoUrl}}"></video>


<!-- <video controls autoplay>
  <source src="{{currentVideoUrl}}"></source>
</video> -->