<div class="row text-center">
  <h1>Vine<strong style="color: orange;">POP</strong></h1>
</div>

<div class="row">
  <div class="medium-12 columns text-center">
    <video controls autoplay ng-src="{{currentVideoUrl}}"></video><br>
    <button class="button" ng-click="nextVid()">Next Vine</button>

  </div>
</div>
